h1 {
    background: rgb(186, 43, 226);
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    transition: background 1s, font-size 2s;  
    transition: background-color 1s ease-out 200ms;
}
h1:hover {
    background: rgb(28, 25, 111);
    color: #fef617;
    font-size: 2rem;
}
